@using System.Configuration;
@using System.Resources;
@using Aexis;
@using Aexis.Web;
@using QScore.lang;
@using QBS.ACL;
@using QBS.Data;
@using QBS.Exams;
@using QBS;

@* Connection, Layout, Startup Variables *@
@{
    Layout = "~/layouts/Standard/Layout.cshtml";
    string title = Text.EvalApplication;
    string errorMessage = "";
}

@* Page Code *@
@{
    int currentId = SessionHandler.Id;
    Dictionary<string, bool> modules = SessionHandler.Modules;

    string pageContent = "";
    if (currentId != 0)
    {
        SessionHandler.ClearAndAddToHistory(Menu.EVAL_APPLICATION);
        pageContent = Exams.GetPendingExamsList();
    }
    else
    {
        Response.Redirect(Menu.SESSION_LOST);
    }
}

@* Page Output *@

@section PageTitle { @Html.Raw(title) }
@section Subtitle { }

@section Errors {
    @{
        if (errorMessage != "")
        {
            <div class="alert">@Html.Raw(errorMessage)</div>
        }
    }
}

@section JavaScript {
    function exam(id) {
        navigateToURL("@Menu.EVAL_EXAM", "id", id);
    }
}

@section PageContent {
    @Html.Raw(pageContent)
}

@section Menu {
    @Html.Raw(Menu.GetDropDown(modules, currentId))
}