@using System.Configuration;
@using System.Resources;
@using Aexis;
@using Aexis.Web;
@using QScore.lang;
@using QBS.ACL;
@using QBS;

@* Connection, Layout, Startup Variables *@
@{
    Layout = "~/layouts/Standard/Layout.cshtml";
    string title = Text.mdl_Log_Access;
    string errorMessage = "";
}

@* Page Code *@
@{
    int currentId = SessionHandler.Id;
    Dictionary<string, bool> modules = SessionHandler.Modules;

    string pageContent = "";
    int currentPage = 0;
    try
    {
        currentPage = Convert.ToInt32(Request["page"]);
    }
    catch(FormatException ex) {}
    if(currentPage == 0)
    {
        currentPage = 1;
    }
    if ((currentId != 0) && (Modules.Permission(modules, Modules.LOG_ACCESS)))
    {
        pageContent = Log.GetLogList(currentPage, "");
    }
    else
    {
        Response.Redirect(Menu.SESSION_LOST);
    }
}

@* Page Output *@

@section PageTitle { @Html.Raw(title) }
@section Subtitle { }

@section Errors {
    @{
        if (errorMessage != "")
        {
            <div class="alert">@Html.Raw(errorMessage)</div>
        }
    }
}

@section JavaScript {
    function firstPage()
    {
        $('#page').val(1);
        submitForm();
    }
    function nextPage()
    {
        $('#page').val(parseInt($('#page').val()) + 1);
        submitForm();
    }
    function prevPage()
    {
        $('#page').val(parseInt($('#page').val()) - 1);
        submitForm();
    }
    function lastPage(last)
    {
        $('#page').val(last);
        submitForm();
    }
    function submitForm()
    {
        $('#classicForm').submit();
    }
}

@section PageContent {
    @Html.Raw(pageContent)
    <input type="hidden" id="page" name="page" value="@currentPage" />
}

@section Menu {
    @Html.Raw(Menu.GetDropDown(modules, currentId))
}